altgraph==0.17
astroid==2.4.2
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
future==0.18.2
idna==2.10
iso8601==0.1.13
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
mder==1.0.2
mysql-connector==2.2.9
numpy==1.19.4
paho-mqtt==1.5.1
pathtools==0.1.2
pefile==2019.4.18
ply==3.11
py-zabbix==1.1.7
pyasn1==0.4.8
PyAudio @ file:///C:/Users/cristian_ritter/Documents/PROJETOS/audio-fingerprint/PyAudio-0.2.11-cp38-cp38-win32.whl
pycparser==2.20
pycryptodomex==3.9.9
pydub==0.24.1
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
pyloudnorm==0.1.0
PySimpleGUI==4.32.1
pysmi==0.3.4
pysnmp==4.4.12
python-vlc==3.0.11115
pywin32-ctypes==0.2.0
pyzabbix==0.8.2
requests==2.24.0
scipy==1.5.4
six==1.15.0
SoundFile==0.10.3.post1
sox==1.4.1
toml==0.10.1
tqdm==4.54.1
urllib3==1.25.11
virtualenv==16.7.8
virtualenvwrapper-win==1.2.5
watchdog==0.10.3
wrapt==1.12.1
